/* Main fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Pacifico&display=swap'); */

/* Variables */




/* ----------------- */

*{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* border:1px dashed rgb(133, 115, 0); */
}

a{
  text-decoration: none;
  color: black;
}

p{
  margin:0;
  padding: 0;
}
body{
  /* background-color: #E7E6E6; */
  position: relative;
}

::-webkit-scrollbar {
  height: 0px;              /* height of horizontal scrollbar â† You're missing this */
}

.react-datepicker-wrapper {
  width: 100%;
}


/* ----------------------------------------------- */

.overall-container{
  max-width: 1500px;
  margin: auto;
}

@media (max-width:450px) {
  .overall-container{
    max-width: 100%;
    margin: auto;
  }
}
@media (max-width:320px) {
  .overall-container{
    padding:5px;
  }
}
.layout-spacing{
  padding: 100px 87px;
  margin: auto;
}
@media (max-width:450px) {
  .layout-spacing{
    padding: 45px 87px;
  }
}
/* ---------------------------------- */

.form-control:focus {
  border-color: #5034A1;
  box-shadow: 0 0 0 0.2rem #4f34a15f;
}
.form-select:focus {
  border-color: #5034A1;
  box-shadow: 0 0 0 0.2rem #4f34a15f;
} 
.inputStyle {
  width: 2.5rem !important;
  height: 3rem;
  margin: 0 0.3rem;
  font-size: 2rem;
  border: 1px solid rgba(101, 101, 101, 0.3);
  
}
.inputStyle:focus{
  outline-width: 0;
  border-color: #5034A1;
  box-shadow: 0 0 0 0.2rem #4f34a157;
}
.check-style label{
  font-size: 10px !important; 
  /* border-radius: 20px !important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px;
  /* transition-duration: 200ms; */
  user-select: none;
  cursor: pointer;
}

.check-style input[type=checkbox]:checked + label{
  color: white !important;
  background-color: #5034A1 !important;
  border-color: #5034A1 !important;
  border-width: 2px;
  box-shadow: none;
  padding-left: 10.5px;
  padding-right: 10.5px;
}
.check-style input[type=checkbox] + label{
  color: rgb(120,144,156) !important;
  background-color: #efefef !important;
  border-color: #efefef !important ;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
}
.check-style input[type=checkbox]:checked + label::before{
  font-family: "Material Icons";
  content: "\e5ca";
  padding-right:3px;
  color: #000;
}
.check-style input[type=radio]:checked + label{
  color: white !important;
  background-color: #5034A1 !important;
  border-color: #5034A1 !important;
  border-width: 2px;
  box-shadow: none;
  padding-left: 10.5px;
  padding-right: 10.5px;
}
.check-style input[type=radio] + label{
  color: rgb(120,144,156) !important;
  background-color: #efefef !important;
  border-color: #efefef !important ;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
}
.check-style input[type=radio]:checked + label::before{
  font-family: "Material Icons";
  content: "\e5ca";
  padding-right:3px;
  color: #000;
}

.form-check-input:checked{
  background-color: #5034A1 !important;
  border-color: #5034A1 !important;
}

.form-check-input:focus{
  outline-width: 0;
  border-color: #5034A1;
  box-shadow: 0 0 0 0.2rem #4f34a157;
}

.search-bar{
  position: relative;
}
.search-bar::before{
  position: absolute;
  font-family: "Material Icons";
  top: 7px;
  right: 5px;
  content: "\e8b6";
}
.chat-icon{
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
}
.aud-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

  text-transform: uppercase;
  margin: 30px 3px;
}
.aud-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);;
  column-gap: 20px;
  row-gap: 20px;
}
.industries-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
  column-gap: 20px;
  row-gap: 20px;
}

li.borderless { border-width: 0px !important ;}

.placeholder-style::placeholder{
  color:#78909C;
}
.button-style{
  background-color: #fff;
  padding: 5px 25px;
  border: 2.5px solid #d9d9d9;
  border-radius: 20px;
  transition-duration: 200ms;
}
.button-style:hover{
  background-color: #d9d9d9;
  color: gray;
}
select:focus{
  border-color: #5034A1 !important;
  box-shadow: 0 0 0 0.2rem #4f34a15f !important;
}
.switch-styling:focus{
  border-color: #5034A1 !important;
  box-shadow: 0 0 0 0.2rem #4f34a15f !important;
}
.switch-styling:checked{
  background-color: #5034A1;
  border-color: #5034A1 !important;
}
.search-style{
  padding-left: 10px;
  border: 2.5px solid #d9d9d9;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 25px;
}
.search-style:focus{
  outline: none;
}
.search-icon{
  border: 2.5px solid #d9d9d9;
  border-left: none;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 25px;
}
.left-side-msg{
  background-color: white;
  font-size: 13px;
  max-width: 45%;
  padding: 10px;
  margin: 10px;
}
.left-side-msg p:first-of-type{
  font-size: 9px;
}
.right-side-msg{
  align-self: flex-end;
  background-color: #5034A1;
  font-size: 13px;
  max-width: 45%;
  padding: 10px;
  margin: 10px;
}
.right-side-msg p:first-of-type{
  font-size: 9px;
}
@media (max-width: 600px){
  .aud-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    column-gap: 10px;
    row-gap: 10px;
  }
  .industries-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    column-gap: 10px;
    row-gap: 10px;
  }
  .check-style input[type=radio] + label{
    font-size: 10px !important;
  }
  .check-style input[type=checkbox] + label{
    font-size: 10px !important;
  }
  .img-mobile {
    height: 60px !important; 
  }
  .text-mobile{
    font-size: 12px;
  }
  .menu-mobile{
    padding : 0 0 0 5px !important;
    margin : 0 !important;
  }
  .button-style{
    font-size: 12px !important;
    padding: 5px 15px !important;
  }
  .sidebar-mobile{
    position: fixed;
  }
  .button-mobile{
    padding: 0 7px !important;
  }
  .search-mobile{
    width: 100px !important;
  }
  .left-side-msg{
    max-width: 60%;
  }
  .right-side-msg{
    max-width: 60%;
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

/*  ----------------------------- */
/* Main buttons  */
.main-btn{
  width: 100%;
  height: 74px;
  font-weight: 700;
  font-size: 32px;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 6px;
}
.main-btn:disabled{
  border: 1px solid #444;
  background-color: #444;
  color: white;
}
@media (max-width:450px) {
  .main-btn{
    font-size: 24px;
  }
}
.main-btn-small{
  padding: 15px 35px;
  /* height: 74px; */
  font-weight: 500;
  font-size: 18px;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 6px;
}
.main-btn-small:disabled{
  border: 1px solid #444;
  background-color: #444;
  color: white;
}
@media (max-width:450px) {
  .main-btn-small{
    font-size: 14px;
  }
}
.secondary-btn{
  width: 100%;
  height: 51px;
  /* font-weight: ; */
  font-size: 16px;
  border: 1px solid black;
  background-color: white;
}
@media (max-width:450px) {
  .secondary-btn{
    width: 100%;
  }
}
/* ------------------------------------------------ */
/* Input fields */

.password-show{
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 16px;
  right: 10px;
}

.input-fields{
  max-width: 100%;
  margin: auto;
}

.input-field{
  width: 100%;
  height: 56px;
  border: 1px solid #bebebe;
  padding: 0 24px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #F2F2F2;
}
.input-field:focus{
  outline:1px solid #ccc;;
}
@media (max-width:450px) {
  .input-field{
    width: 100%;
    font-size: 16px;
    padding: 0 12px;
  }
}
.two-cols-input-container{
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  /* border:1px solid red; */
}

@media (max-width:450px) {
  .two-cols-input-container{
    width: 100%;
  }
}

.two-cols-input-field{
  width:100%;
  height: 56px;
  border: 1px solid #bebebe;
  background: #F7F7F7;
  padding: 0 24px;
  font-size: 14px;
  background-color: #F2F2F2;
  /* border:1px solid red; */
}

.two-cols-input-field:focus{
  outline:1px solid #ccc;;
}

@media (max-width:450px) {
  .two-cols-input-field{
    font-size: 16px;
    padding: 0 12px;
    flex: 1;
  }
}









.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px;
  margin-left: 5px;
  height: 40px;
}
.search_input {
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
  /* padding-left: 5px; */
}

.searchbar:hover > .search_input {
  padding: 0 5px;
  width: 320px;
  transition: width 0.4s linear;
}

.search_input:focus{
  padding: 0 5px;
  width: 320px;
  transition: width 0.4s linear;
}

.search_icon {
  color: gray;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media (max-width:768px) {
  .searchbar:hover > .search_input {
    padding: 0 5px;
    width: 200px;
    /* flex: 1; */
    transition: width 0.4s linear;
  }
  
  .search_input:focus{
    padding: 0 5px;
    width: 200px;
    transition: width 0.4s linear;
  }
}
@media (max-width:450px) {
  .searchbar:hover > .search_input {
    padding: 0 5px;
    width: 100px;
    /* flex: 1; */
    transition: width 0.4s linear;
  }
  
  .search_input:focus{
    padding: 0 5px;
    width: 100px;
    transition: width 0.4s linear;
  }
}
